<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.soft.ing.gruppo2.sistema_gestione_comune">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
